// COLORS
$brand-black: #131514;
$brand-white: #FFF;
$brand-hover: $brand-black;

// TYPOGRAPHY
$brand-font-headline: "Montserrat", sans-serif;
$brand-font-body: "Roboto", sans-serif;
$brand-font-size: 16;
$brand-line-height: 24;

// SPACING
$spacing-0: 0rem;
$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 0.75rem;
$spacing-4: 1rem;
$spacing-5: 1.5rem;
$spacing-6: 2rem;

// HEADER HEIGHTS
$header-height-sm: 54px;
$header-height-md: 58px;
$header-height-lg: 64px;

// BORDERS & SHADOWS
$border-radius-base: 8px;
$box-shadow-base: 0 4px 4px rgba(0, 0, 0, 0.2);
