/*
 * Spacings
 * Use like so: 
 * <div class="margin-bottom-50"></div>
 */

@for $spacing from 0 through 100 {
    .margin-top-#{$spacing} {
        margin-top: #{$spacing}px!important;
    }
    .margin-bottom-#{$spacing} {
        margin-bottom: #{$spacing}px!important;
    }
    .margin-left-#{$spacing} {
        margin-left: #{$spacing}px!important;
    }
    .margin-right-#{$spacing} {
        margin-right: #{$spacing}px!important;
    }
    .padding-top-#{$spacing} {
        padding-top: #{$spacing}px!important;
    }
    .padding-bottom-#{$spacing} {
        padding-bottom: #{$spacing}px!important;
    }
    .padding-right-#{$spacing} {
        padding-right: #{$spacing}px!important;
    }
    .padding-left-#{$spacing} {
        padding-left: #{$spacing}px!important;
    }
}